@model IEnumerable<MyFamilyConnect.Models.Photo>

@{
    
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    @foreach (var photo in Model)
    {                
        var base64 = Convert.ToBase64String(photo.Content);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);            
        <a href="/Photo/Details/@photo.PhotoId" >
            <img src="@imgSrc" class="small-photo" />
        </a>       
    }

